// Blue card
// Used for account

$card-blue-background: #D2E1EF;
$card-blue-color: $nhsuk-link-active-color;

.app-cards--blue .nhsapp-card {
  background: $card-blue-background;
  border-color: $card-blue-background;
  color: $card-blue-color;

  &:first-of-type,
  &:last-of-type {
    border-color: $card-blue-background;
  }

  .nhsapp-card__container {
    border-color: rgba($card-blue-color, 0.2);
  }

  .nhsapp-card__link {
    color: $card-blue-color;
  }

  .nhsapp-icon {
    fill: $card-blue-color;
  }
}