.v1 {

  $border-color: $color_nhsuk-grey-3;
  $border-radius: 8px;
  $border-width: 1px;
  $icon-size-mobile: 24px;
  $icon-size-desktop: 24px;

  // Border colour
  .app-cards--secondary .nhsapp-card,
  .app-card--secondary,
  .nhsapp-card,
  .nhsapp-cards--stacked .nhsapp-card .nhsapp-card__container,
  .nhsapp-cards--stacked .nhsapp-card:first-of-type,
  .nhsapp-cards--stacked .nhsapp-card:last-of-type,
  .nhsuk-card,
  .nhsuk-expander,
  .nhsuk-details__text
   {
    border-color: $border-color;
  }

  // Border style
  .nhsuk-card--secondary,
  .nhsuk-card--clickable,
  .nhsuk-expander {
    border: $border-width solid $border-color;
  }

  // Border radius
  .app-cards--secondary .nhsapp-card,
  .app-card--secondary,
  .nhsapp-card,
  .nhsuk-card,
  .nhsuk-expander,
  .nhsuk-button {
    border-radius: $border-radius;
  }

  // Border for 'stacked' card links and expanders
  .nhsapp-cards--stacked .nhsapp-card,
  .nhsuk-expander-group .nhsuk-expander {
    border-radius: 0;
   
    &:first-of-type {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  // Needed to remove white background for rounded edges
  .nhsuk-expander .nhsuk-details__summary {
    background-color: transparent;
  }

  // Stack expanders
  .nhsuk-expander-group > .nhsuk-details {
    margin-bottom: -1px;
  }

  // Make app card link divider line full width
  .nhsapp-card__container {
    margin: 0;
    padding: 20px nhsuk-spacing(3);

    @include mq($from: tablet) {
      margin: 0;
      padding: nhsuk-spacing(4);
    }
  }

  // Secondary card padding
  .nhsuk-card--secondary .nhsuk-card__content {
    @include nhsuk-responsive-padding(5);
  }

  // Secondary expander
  .app-expander--secondary {
    background: transparent;
  }

}