<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2>Style ideation</h2>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="/interactive-components/">As is</a>
        </li>
        <li>
          <a href="/interactive-components/v1">Version 1</a>
        </li>
        <li>
          <a href="/interactive-components/v2">Version 2</a>
        </li>
        <li>
          <a href="/interactive-components/v3">Version 3</a>
        </li>
        <li>
          <a href="/interactive-components/v4">Version 4</a>
        </li>
        <li>
          <a href="/interactive-components/v5">Version 5</a>
        </li>
        <li>
          <a href="/interactive-components/v6">Version 6</a>
        </li>
        <li>
          <a href="/interactive-components/v7">Version 7</a>
        </li>
        <li>
          <a href="/interactive-components/v8">Version 8</a>
        </li>
        <li>
          <a href="/interactive-components/v9">Version 9</a>
        </li>
        <li>
          <a href="/interactive-components/v10">Version 10</a>
        </li>
        <li>
          <a href="/interactive-components/v11">Version 11</a>
        </li>
        <li>
          <a href="/interactive-components/v12">Version 12</a>
        </li>
        <li>
          <a href="/interactive-components/v13">Version 13</a>
        </li>
        <li>
          <a href="/interactive-components/v14">Version 14</a>
        </li>
        <li>
          <a href="/interactive-components/v15">Version 15</a>
        </li>
      </ul>

      <hr>

      <h3>Page examples</h3>
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p class="nhsuk-body-l nhsuk-u-margin-bottom-2"><strong>Style version:</strong> {{ data['styleVersion'] }}</p>
        <p><a href="/data-settings" class="nhsuk-link--no-visited-state">Change style version</a> for page examples.</p>
      </div>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="/interactive-components/pages/nhsapp-homepage">NHS App - Homepage</a>
        </li>
        <li>
          <a href="/interactive-components/pages/nhsapp-account">NHS App - Account</a>
        </li>
        <li>
          <a href="/interactive-components/pages/nhsapp-account-new">NHS App - Account (new)</a>
        </li>
        <li>
          <a href="/interactive-components/pages/nhsapp-chosen-pharmacy">NHS App - Chosen pharmacy</a>
        </li>
      </ul>

      <hr>

      <h3>Mural board</h3>
      <p><a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1741945490217/395b415539e563973c2d16038aabe38c7378985d?sender=u4204addf4610da6da50e4130">Design system component review Mural board </a></p>

    </div>
  </div>
{% endblock %}
